body {
    background-image: url(../img/Pulcinella-2.jpg);
}

h1 {
    font-family: cursive;
    font-size: 8em;
    text-align: center;
    color: blue;
}

.cellatable {
    display: inline-block;
    border: 3px solid black;
    width: 6em;
    height: 8em;
    color:black;
    font-size: 0.8em;
    text-align: center;
    border-radius: 1em;
    margin: 0.1em;
    background-color: white;
}

#button {
    padding: 1em;
    margin: 4em;
    border-radius: 1em;
    font-size: 1.2em;
    background-color: greenyellow;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.container {
    text-align: center;
}